@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500&display=swap');

#clock {
  text-align: center;
  margin-top: 10px;
}

#clock h1 {
  display: inline-block;

  font-family: 'Roboto Mono', sans-serif;
  font-size: 90px;
  font-weight: 500;
}

.hours:after,
.minutes:after,
.seconds:after {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 27px;
  content: 'Hours';
  text-align: center;
  position: relative;
  margin: 10px 0 10px 0;
  display: block;

  text-transform: uppercase;
  color: rgba(27, 54, 93, 0.5);
  font-weight: 700;
}

.minutes:after {
  content: 'Minutes';
}

.seconds:after {
  content: 'Seconds';
}


/* Mobile */
@media only screen and (max-width: 600px) {
  .hours:after,
  .minutes:after,
  .seconds:after {
    font-size: 16px;
  }

  #clock h1 {
    font-size: 64px;
  }
}
