/* Pages */
.maps-page,
.home-page {
  max-height: 2100px;
  overflow-y: hidden;
  position: relative;
}

.home-page {
  max-height: 850px;
}

/* Components */
.index-header {
  text-transform: uppercase;
  color: rgba(27, 54, 93, 0.5);
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
}

.index-subtext {
  font-size: 37px;
  font-weight: 600;
}

a.index-subtext {
  color: #1b365d;
}

.time-left {
  margin-top: 25px;
}

.info-container > * {
  margin-top: 15px;
}

.button-container {
  margin-top: 30px;
  display: flex;
}

.button-container * {
  margin-right: 30px;
}

.cta-button {
  color: #1b365d;
  padding: 10px 25px;
  border: 2px solid #1b365d;
  display: inline-block;
  border-radius: 30px;
  font-weight: 700;
  transition: background 0.2s ease;
}

.cta-button:hover {
  color: #edffb5 !important;
  background: #1b365d;
  text-decoration: none;
}

.vine-svg {
  position: absolute;
  top: -20px;
  left: 620px;
  z-index: -100;
}

.navbar-toggler {
  border: 1px solid #1b365d;
  border-radius: 5px;
  padding: 4px;
}

.navbar-toggler-icon {
  color: #1b365d;
  font-size: 24px;
  height: 24px;
  text-align: center;
}

/* Mobile */
@media only screen and (max-width: 1024px) {
  .home-page {
    max-height: 1550px;
  }

  .index-subtext {
    font-size: 24px;
  }

  .button-container {
    display: block;
    margin: 32px 0;
  }

  .cta-button {
    margin: 8px 0;
    font-size: 20px;
  }

  .vine-svg {
    display: none;
  }

  /* Challenges page */
  .challenges-container p {
    font-size: 18px;
  }

  .challenges-container li {
    word-break: break-all;
  }

  .social-media {
    display: none;
  }
}
