@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
    background: #edffb5;
    font-family: 'Nunito', sans-serif;
    color: #1b365d; /* HBP navy */
}

h1 {
    font-weight: 700;
}

h5 {
    font-weight: 700;
    margin-bottom: 15px;
}


/*@media (min-width: 1200px) {*/
    /*.big-container{*/
        /*max-width: 1350px;*/
    /*}*/
/*}*/