.faq-container {
  color: #1b365d;
  max-width: 500px;
  padding: 20px 60px;
}

.faq-container h5:before {
  content: '';
  height: 35px;
  width: 35px;
  background: url(http://live.hackbeanpot.com/svg/leaf-node.svg);
  background-size: contain;
  background-repeat: no-repeat;
  left: 10px;
  top: 15px;
  position: absolute;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .faq-container {
    padding: 16px 8px 16px 60px;
  }

  .faq-container p {
    margin: 0;
  }
}
