.mentor-item {
    width: 500px;
    margin-bottom: 50px;
}

.mentor-headshot {
    border-radius: 12px;
    border-width: 5px;
    border-style: solid;
    width: 150px;
    height: 200px;
}

.mentor-name-header {
    font-size: 28px;
    font-weight: 700;
}

.mentor-company-header {
    font-size: 18px;
    font-weight: 700;
}

.infobox-header {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;

    text-transform: uppercase;
    color: rgba(27, 54, 93, 0.5);
    font-weight: 700;
}